.consultation
    background: url(../../img/free-bg.jpg) center center / cover no-repeat
    padding: 10rem 0 10.8rem 0
    &__text
        font-weight: 500
        font-size: 2rem
        line-height: 3rem
        color: #fff
        margin-bottom: 3.6rem
    .error
        border: .1rem solid $color-red
        text-align: center
        margin-bottom: 1rem
    label.error
        border: none
        color: #fff